@model WeatherApp.Models.City

@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <h2><b>Forecast For Selected City</b></h2>

            <label asp-for="Name"></label>
            <span class="badge alert-primary">@Model.Name</span> <br />

            <label asp-for="Tempature"></label>
            <span class="badge alert-primary">@Model.Tempature °C</span> <br />

            <label asp-for="Humidity"></label>
            <span class="badge alert-primary">@Model.Humidity %</span> <br />

            <label asp-for="Pressure"></label>
            <span class="badge alert-primary">@Model.Pressure Hpa</span> <br />

            <label asp-for="Wind"></label>
            <span class="badge alert-primary">@Model.Wind Km/h</span> <br />

            <label asp-for="Weather"></label>
            <span class="badge alert-primary">@Model.Weather</span> <br />

            <label asp-for="Lat"></label>
            <span class="badge alert-primary">@Model.Lat</span> <br />

            <label asp-for="Lon"></label>
            <span class="badge alert-primary">@Model.Lon</span> <br />
        </div>

    </div>
    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">
            <br />
            <div>
                <form method="get">

                    <input type="button" value="Previous Page!" onclick="history.back()" class="btn btn-dark">
                </form>
            </div>
        </div>
    </div>
</div>

<a asp-controller="Home" asp-action="AirQuality">Click here to check your air quality data!</a>
<br />

<div class="text-center">
    @if (Model.Tempature >= 12)
    {
        <h1 class="display-4">Good conditions</h1>
        <h3><b><u>People at risk during hot weather</u></b></h3>
        <p>1. older people, especially those over 75 years of age</p>
        <p>
            2.  babies and young children
        </p>
        <p>3. people on certain types of medication – ask your doctor if you are at risk</p>
        <p>
            4. people who already have a high temperature from an infection
        </p>
        <br />
        <h1><b>Tips for coping in hot weather</b></h1>
        <p>
            1. Keep out of the heat if you can. If you have to go outside, stay in the shade especially between 11am and 3pm, wear sunscreen, a hat and light clothes, and avoid exercise or activity that makes you hotter.

        </p>
        <br />
        <p>
            Keep your living space cool. Close windows during the day and open them at night when the temperature outside has gone down. Electric fans can help if the temperature is below 35 degrees. Check the temperature of rooms, especially where people at higher risk live and sleep.

        </p>
        <br />
        <p>
            Cool yourself down. Have cold food and drinks, avoid alcohol, caffeine and hot drinks, and have a cool shower or put cool water on your skin or clothes.

        </p>



    }

    @if (Model.Tempature < 12)
    {
        <h1 class="display-4">Bad conditions</h1>
        
        <h3><b><u>Raise electrical appliances from the floor</u></b></h3>
        <p>Mount your TV on the wall</p>
        <p>
            Put your fridge freezer and washing machine on a raised platform
        </p>
        <br />
        <h3><b><u>Long-term preparation if you live in a high-risk flood area</u></b></h3>
        <p>Install water-resistant hardwood flooring on the lower ground</p>
        <p>Install tiles with waterproof adhesive and grout in your kitchen</p>
        <p>Fit covers over ventilation bricks to prevent damage from drizzling</p>
        <p>Raise electrical sockets, fuse boxes, controls and wiring to at least 1.5 metres above floor level. If rewiring, bring cables down the wall to the raised socket so that cabling isn’t affected.</p>
    }



</div>

<a button type="button" class="block" id="Btn" asp-area="" asp-controller="Home" asp-action="Advice">Click here for our Advice page</a>
<a button type="button" class="blocki" id="Btn" asp-area="" asp-controller="Home" asp-action="Weather">Click here for our Weather Forecast page</a>